<script setup lang="ts">
const colorMode = useColorMode();

const title = ref<string>('InkingBird Stores');
const description = ref<string>('');

useSeoMeta({
  title,
  ogTitle: title.value,
  ogUrl: 'https://store.inkingbird.com',
  colorScheme: 'light dark',
  themeColor: colorMode.value === 'dark' ? '#030307' : '#FBFBFD',
  applicationName: 'InkingBird Stores',
  ogSiteName: 'InkingBird Stores',

  description,
  ogDescription: description,
  // ogImage: store.value?.cover_url,
  // keywords: `${store.value?.name}`,

  // twitterCard: 'summary_large_image',
  // twitterTitle: title.value,
  // twitterDescription: store.value?.description,
  // twitterImage: store.value?.cover_url,
});
</script>

<template>
  <NuxtLayout>
    <!-- <NuxtLoadingIndicator /> -->
    <NuxtPage />
  </NuxtLayout>
</template>
