<script setup lang="ts">
const props = withDefaults(
  defineProps<{
    error: any;
  }>(),
  {}
);

console.log(props.error);
</script>

<template>
  <div
    class="mt-[14%] justify-center items-center flex-col gap-8 inline-flex sm:w-full sm:mt-[20%]"
  >
    <div
      class="relative w-full justify-center items-center flex-col inline-flex"
    >
      <span
        class="text-[22rem] blur opacity-30 font-semibold text-ink-gray-2 dark:text-[#E9E8EC]/20 dark:opacity-40"
        >{{ props?.error.statusCode }}</span
      >

      <div
        class="absolute m-auto inset-0 justify-center items-center flex-col gap-3 inline-flex"
      >
        <h2 class="text-xl text-center leading-[1.6] sm:text-2xl">
          Oops! That store menu doesn't exist
        </h2>
        <p class="text-xs text-center leading-[1.8] w-2/3">
          Consectetur ad est officia occaecat ad cillum occaecat officia ex aute
          quis.
        </p>

        <Button size="sm">Head back to store</Button>
      </div>
    </div>
  </div>
</template>
