<script setup lang="ts">
type CartTab = 'all' | 'goods' | 'services' | 'history';

const currentTab = ref<CartTab>('all');

// currentTab.value = route.query.cart ? (route.query.cart as CartTab) : "all";

// const updatequery = (tab?: CartTab) => {
//   router.push({
//     path: "@bag",
//     query: { cart: tab ? tab : currentTab.value },
//   });
// };

// onBeforeMount(() => {
//   updatequery();

//   watch(currentTab, (tab, prev) => {
//     updatequery(tab);
//   });
// });
</script>

<template>
  <NuxtLayout name="st-base-l">
    <template #center-content>
      <div
        class="w-full mb-4 sticky top-0 z-[99999988] py-2 bg-it-primary-bg-fill-a90 border-b border-it-border-1 backdrop-blur-[50px] backdrop-saturate-200 justify-start items-center gap-8 inline-flex i-mode-transition overflow-x-scroll no-scrollbar lg:px-4"
      >
        <div class="justify-start items-center gap-2 inline-flex">
          <h4
            class="text-it-monochrome-bw text-[1.25rem] font-bold whitespace-nowrap"
          >
            Cart
          </h4>

          <Tag>17</Tag>
        </div>

        <div class="justify-start items-start gap-2 inline-flex">
          <Button
            :variant="currentTab === 'all' ? 'gray' : 'plain'"
            @click="currentTab = 'all'"
            >All</Button
          >
          <Button
            :variant="currentTab === 'goods' ? 'gray' : 'plain'"
            @click="currentTab = 'goods'"
            >Goods</Button
          >
          <Button
            :variant="currentTab === 'services' ? 'gray' : 'plain'"
            @click="currentTab = 'services'"
            >Services</Button
          >
          <Button
            :variant="currentTab === 'history' ? 'gray' : 'plain'"
            @click="currentTab = 'history'"
            >History</Button
          >
        </div>
      </div>

      <div class="w-full flex justify-between gap-12 lg:justify-center">
        <div class="w-[730px] gap-6 flex flex-col lg:items-center lg:w-[90vw]">
          <ProductBagItem />
          <ProductBagItem product-type="service" :with-cover="false" />
          <ProductBagItem />
          <ProductBagItem product-type="service" />
          <ProductBagItem />
          <ProductBagItem product-type="service" :with-cover="false" />
        </div>

        <div
          class="grow sticky top-[80px] h-fit flex-col justify-start items-start gap-8 inline-flex xl:hidden"
        >
          <div class="flex-col justify-start items-start gap-6 inline-flex">
            <p class="self-stretch text-it-text-gray-1 text-sm leading-[1.8]">
              Sed ut perspiciatis unde omnis iste natus error sit voluptatem
              accusantium doloremque laudantium, totam rem aperiam, eaque ipsa
              quae ab illo inventore.
            </p>
          </div>

          <div
            class="w-full flex-col justify-start items-start gap-10 inline-flex"
          >
            <h4
              class="text-it-monochrome-bw text-[1.25rem] font-bold whitespace-nowrap"
            >
              Total
            </h4>

            <div
              class="w-full flex-col justify-start items-start gap-2 inline-flex"
            >
              <div class="w-full justify-between items-center inline-flex">
                <span class="text-it-text-gray-1 text-sm font-medium">
                  Discounts
                </span>

                <Button
                  variant="gray"
                  icon-left="iconoir-piggy-bank"
                  class="bg-amber-700/[0.08] text-amber-500"
                  >Disc 5%</Button
                >
              </div>

              <div class="w-full justify-between items-center inline-flex">
                <span class="text-it-text-gray-1 text-sm font-medium">
                  Shipping
                </span>

                <Button
                  variant="gray"
                  icon-left="iconoir-delivery-truck"
                  class="bg-green-700/[0.08] text-green-600"
                  >Free Shipping</Button
                >
              </div>

              <div
                class="w-full py-2 justify-start items-center gap-2 inline-flex"
              >
                <i class="iconoir-info-empty" />
                <span
                  class="py-1 text-it-text-gray-1 text-xs font-normal leading-[1.4]"
                  >Shipping perks for some products are provided by the
                  store.</span
                >
              </div>
            </div>

            <h2 class="w-full text-it-monochrome-bw text-[2.5rem] font-bold">
              $1245.05
            </h2>

            <Button icon-right="iconoir-arrow-right" size="md"
              >Proceed to check out
            </Button>
          </div>
        </div>
      </div>
    </template>
  </NuxtLayout>
</template>
