<script setup lang="ts">
import { breakpointsTailwind, useBreakpoints } from '@vueuse/core';
import { Vue3Lottie } from 'vue3-lottie';
import type { StoreMenu, ProductWithPrice } from '~/types/stores';

const route = useRoute();
const lottieData = useLottieData();
const colorMode = useColorMode();
const breakpoints = useBreakpoints(breakpointsTailwind);
const lgAndSmaller = breakpoints.smallerOrEqual('lg');
const mdAndSmaller = breakpoints.smallerOrEqual('md');
// const smAndSmaller = breakpoints.smallerOrEqual('sm');

const compError = ref();
const colWdith = ref<number>(340);

const skeletonProducts = [{ p: 1 }, { p: 2 }, { p: 3 }, { p: 4 }];

const props = withDefaults(
  defineProps<{
    menu?: StoreMenu | undefined | null;
    storeAtAddress?: string;
    showHeader?: boolean;
    isLoading?: boolean;
  }>(),
  {
    menu: undefined,
    storeAtAddress: '',
    showHeader: true,
    isLoading: false,
  }
);

const {
  data: products,
  error: productsError,
  pending: productsLoading,
} = props.isLoading
  ? {
      data: undefined,
      error: undefined,
      pending: false,
    }
  : await useLazyFetch<ProductWithPrice[]>(
      `/api/store/@st/${route.params.storeAtAddress}/products/${props.menu?.id}`,
      {
        method: 'GET',
        query: {
          take: props.showHeader ? 4 : '',
        },
      }
    );

if (productsError) {
  // TODO: log & show the error
}

onErrorCaptured((err) => {
  compError.value = err;
});

watchEffect(() => {
  if (lgAndSmaller.value) colWdith.value = 310;
  else if (mdAndSmaller) colWdith.value = 340;
});
</script>

<template>
  <div
    v-if="productsLoading || props.isLoading"
    class="w-[710px] gap-6 flex flex-col lg:w-[640px] md:w-[90vw] lg:gap-8"
  >
    <div
      v-if="props.showHeader"
      class="w-full justify-between items-center gap-4 inline-flex"
    >
      <LazySkeleton class="w-1/3 h-6" />
      <LazyButton :is-loading="true" class="w-16" />
    </div>

    <div ref="masonryEl" class="w-full">
      <MasonryWall
        :items="skeletonProducts"
        :ssr-columns="2"
        :column-width="colWdith"
        :gap="16"
      >
        <template #default="">
          <LazyProductCard :is-loading="true" />
        </template>
      </MasonryWall>
    </div>
  </div>

  <div
    v-else-if="products?.length === 0 && menu?.num_of_products === 0"
    class="mt-[10%] w-[710px] justify-center items-center flex-col gap-8 inline-flex lg:w-[640px] md:w-[90vw] md:mt-[20%] sm:w-screen"
  >
    <div
      class="-space-y-16 w-full justify-center items-center flex-col inline-flex sm:-space-y-12"
    >
      <h2 class="text-3xl text-center sm:text-2xl">No products<br />yet</h2>
      <client-only>
        <Vue3Lottie
          width="w-[80%]"
          :animation-data="
            colorMode.value === 'light'
              ? lottieData.ManOnBikeBlack
              : lottieData.ManOnBikeWhite
          "
        />
      </client-only>
    </div>

    <p class="text-xs text-center leading-[1.8] w-2/3">
      Consectetur ad est officia occaecat ad cillum occaecat officia ex aute
      quis.
    </p>
  </div>

  <div
    v-else
    class="w-[710px] mb-12 gap-6 flex flex-col lg:w-[640px] md:w-[90vw] lg:gap-8"
  >
    <div
      v-if="props.showHeader"
      class="w-full justify-start items-center gap-4 inline-flex"
    >
      <h4
        class="grow basis-0 text-it-monochrome-bw text-2xl font-bold md:text-xl sm:text-lg"
      >
        {{ props.menu?.name }}
      </h4>

      <NuxtLink
        :to="`/@st/${route.params.storeAtAddress}/menu/${props.menu?.slug}`"
        prefetch
      >
        <LazyButton variant="tertiary"
          >See all ({{ props.menu?.num_of_products }})</LazyButton
        >
      </NuxtLink>
    </div>

    <div ref="masonryEl" class="w-full">
      <!-- <NuxtLink to="/@st/suijen/product/mac" class="w-fit h-fit">
        <ProductCard name="Macbook Pro ‘’13" :current-price="299.99" />
      </NuxtLink> -->

      <!-- <ProductCard
        v-for="product in products"
        :key="product.name"
        :name="product.name"
        :current-price="product.price_products_priceToprice?.price"
        :currency="
          product.price_products_priceToprice?.currencies_prices_currencyTocurrencies.symbol?.toString()
        "
        :product-type="product.type"
        :product-status="product?.status?.toString()"
        :show-cover="false"
      /> -->

      <MasonryWall
        v-if="products"
        :items="products"
        :ssr-columns="2"
        :column-width="colWdith"
        :gap="16"
      >
        <template #default="{ item: product }">
          <LazyProductCard
            :name="product.name"
            :current-price="product.price_products_priceToprice?.price"
            :currency="
              product.price_products_priceToprice?.currencies_prices_currencyTocurrencies.symbol?.toString()
            "
            :product-type="product.type"
            :product-status="product?.status"
            :card-type="product.thumb_type"
            :thumb-path="product.thumb_path"
            :p-ref="product.p_ref"
          />
        </template>
      </MasonryWall>

      <!-- <ProductCard
        name="Macbook Pro ‘’13"
        :current-price="299.99"
        product-type="service"
        :show-cover="false"
      />
      <ProductCard
        card-type="square"
        name="Macbook Pro ‘’13"
        :current-price="299.99"
      />
      <ProductCard
        card-type="landscape"
        name="Macbook Pro ‘’13"
        :current-price="299.99"
        product-type="service"
      />
      <ProductCard
        card-type="portrait"
        name="Macbook Pro ‘’13"
        :current-price="299.99"
      />
      <ProductCard
        card-type="square"
        name="Macbook Pro ‘’13"
        :current-price="299.99"
        product-type="service"
      /> -->
    </div>
  </div>
</template>

<style scoped lang="scss">
// .ms {
//   width: 100%;
//   columns: 2;
//   column-gap: 30px;

//   @screen sm {
//     columns: 1;
//   }
// }
</style>
