<script setup lang="ts">
import type { Store } from '~/types/stores';

const route = useRoute();
const router = useRouter();

const { currentStore } = storeToRefs(useStoreStore());
// const { currentProduct } = storeToRefs(useProductStore());

if (
  ((!currentStore.value && route.params.storeAtAddress) ||
    (currentStore.value &&
      currentStore.value.at_address !== route.params.storeAtAddress)) &&
  !route.fullPath.includes('product?ref')
) {
  const { data: store, error: storeError } = await useFetch<Store>(
    `/api/store/@st/${route.params.storeAtAddress}`,
    {
      method: 'GET',
    }
  );

  if (storeError) {
    // TODO: log & show the error
  }

  currentStore.value = store?.value;
}

const goToStore = async () => {
  if (currentStore) {
    await router.push(`/@st/${currentStore.value?.at_address}`);
  }
};
</script>

<template>
  <div
    class="relative self-center flex justify-start max-w-[1440px] w-full gap-6 xl-1:px-8 lg:px-0 lg:gap-0"
  >
    <!-- Left Sidebar -->
    <LeftSidebar />

    <!-- Center Content -->
    <section class="w-full flex flex-col items-center grow pb-56 md:w-screen">
      <div
        class="w-full sticky top-0 z-[9999] py-2 bg-it-primary-bg-fill-a90 border-b border-it-border-1 backdrop-blur-[50px] backdrop-saturate-200 justify-start items-center gap-5 inline-flex i-mode-transition overflow-x-scroll no-scrollbar lg:pr-4 lg:gap-2"
      >
        <div
          class="i-mode-transition justify-start items-start gap-[6px] inline-flex lg:h-full lg:pl-4 lg:pr-1 lg:bg-it-primary-bg-fill-a90 lg:backdrop-blur-[50px] lg:backdrop-saturate-200 lg:sticky lg:left-0"
        >
          <Button
            variant="gray"
            size="sm"
            icon-left="iconoir-nav-arrow-left"
            class="w-[32px]"
            @click="$router.go(-1)"
          />
          <Button
            variant="gray"
            size="sm"
            icon-left="iconoir-nav-arrow-right"
            class="w-[32px]"
            @click="$router.go(-1)"
          />
        </div>

        <div class="justify-start items-center gap-2 inline-flex">
          <svg
            v-if="
              $route.fullPath.includes('@st') ||
              $route.fullPath.includes('product')
            "
            viewBox="0 0 174 43"
            fill="none"
            xmlns="http://www.w3.org/2000/svg"
            class="i-mode-transition fill-ink-gray-1/90 w-[60px] dark:fill-ink-gray-1/50"
          >
            <path
              d="M14.3646 21.3717C16.2092 21.8046 17.9753 22.2966 19.6629 22.8476C21.3506 23.3986 22.8224 24.0874 24.0783 24.9139C25.3735 25.7011 26.3939 26.685 27.1396 27.8658C27.9245 29.0072 28.317 30.4241 28.317 32.1165C28.317 33.6909 27.9638 35.1471 27.2573 36.4853C26.5509 37.7841 25.5501 38.9255 24.2549 39.9095C22.999 40.8541 21.5076 41.6019 19.7807 42.1529C18.0538 42.6646 16.1699 42.9204 14.1291 42.9204C12.1667 42.9204 10.3417 42.6449 8.65405 42.0939C6.96642 41.5429 5.49464 40.7557 4.23872 39.7324C3.02205 38.7091 2.04087 37.5086 1.29516 36.1311C0.549464 34.7142 0.117742 33.1398 0 31.4081L9.12502 30.0502L9.18389 31.231C9.26239 32.2149 9.73336 33.0021 10.5968 33.5925C11.4602 34.1828 12.6377 34.478 14.1291 34.478C15.6205 34.478 16.7979 34.2616 17.6613 33.8286C18.564 33.3563 19.0154 32.7856 19.0154 32.1165C19.0154 31.841 18.8388 31.5852 18.4855 31.349C18.1716 31.0735 17.7595 30.8374 17.2492 30.6406C16.739 30.4438 16.1699 30.2667 15.542 30.1092C14.9533 29.9518 14.3842 29.8141 13.8347 29.696C11.7938 29.1843 9.94922 28.6727 8.30083 28.161C6.65244 27.6493 5.23953 27.0196 4.06211 26.2718C2.88468 25.4846 1.98199 24.5597 1.35404 23.497C0.726077 22.395 0.412098 21.0174 0.412098 19.3644C0.412098 17.8294 0.726077 16.4125 1.35404 15.1137C2.02124 13.8148 2.94356 12.7128 4.12098 11.8075C5.2984 10.9023 6.71131 10.1938 8.3597 9.68219C10.0473 9.17053 11.9116 8.9147 13.9525 8.9147C15.7186 8.9147 17.367 9.19021 18.8976 9.74123C20.4675 10.2529 21.8412 11.0007 23.0186 11.9847C24.2353 12.9293 25.2165 14.0707 25.9622 15.4088C26.7471 16.7077 27.2181 18.1443 27.3751 19.7186L18.3678 21.1355L18.1912 20.1909C18.0342 19.6005 17.7791 19.1282 17.4258 18.774C17.1119 18.3804 16.739 18.1049 16.3073 17.9475C15.9148 17.7507 15.5027 17.6326 15.071 17.5932C14.6393 17.5145 14.2664 17.4752 13.9525 17.4752C13.4422 17.4752 12.932 17.4948 12.4218 17.5342C11.9508 17.5736 11.4995 17.672 11.0678 17.8294C10.6753 17.9475 10.3417 18.1443 10.067 18.4198C9.83148 18.6559 9.71373 18.9708 9.71373 19.3644C9.71373 19.7973 10.1847 20.1712 11.1266 20.4861C12.1078 20.801 13.1871 21.0961 14.3646 21.3717Z"
            />
            <path
              d="M49.4977 6.84838V15.1137H44.7292V33.8286C44.7292 34.0254 44.788 34.2025 44.9058 34.36C45.0628 34.478 45.2394 34.5764 45.4356 34.6551C45.6711 34.6945 45.887 34.7339 46.0832 34.7732C46.3187 34.7732 46.5149 34.7732 46.6719 34.7732C46.9466 34.7732 47.1625 34.7732 47.3195 34.7732C47.5157 34.7339 47.6923 34.6945 47.8493 34.6551L49.4977 34.0648V41.9758L48.6735 42.33C47.4961 42.763 46.2402 42.9795 44.9058 42.9795C43.6106 42.9795 42.3939 42.7433 41.2558 42.271C40.1568 41.8381 39.1953 41.228 38.3711 40.4408C37.5861 39.6143 36.9582 38.65 36.4872 37.548C36.0555 36.4066 35.8396 35.1668 35.8396 33.8286V15.1137H32.3662V6.84838H35.8396V0H44.7292V6.84838H49.4977Z"
            />
            <path
              d="M69.0034 8.97373C71.3582 8.97373 73.5561 9.42636 75.5969 10.3316C77.6771 11.1975 79.4824 12.3979 81.0131 13.9329C82.5437 15.4679 83.7408 17.2784 84.6042 19.3644C85.5069 21.411 85.9583 23.6151 85.9583 25.9766C85.9583 28.3381 85.5069 30.5619 84.6042 32.6479C83.7408 34.6945 82.5437 36.4853 81.0131 38.0203C79.4824 39.5553 77.6771 40.7754 75.5969 41.6806C73.5561 42.5465 71.3582 42.9795 69.0034 42.9795C66.6485 42.9795 64.4311 42.5465 62.3509 41.6806C60.3101 40.7754 58.5243 39.5553 56.9937 38.0203C55.463 36.4853 54.266 34.6945 53.4025 32.6479C52.4998 30.5619 52.0485 28.3381 52.0485 25.9766C52.0485 23.6151 52.4998 21.411 53.4025 19.3644C54.266 17.2784 55.463 15.4679 56.9937 13.9329C58.5243 12.3979 60.3101 11.1975 62.3509 10.3316C64.4311 9.42636 66.6485 8.97373 69.0034 8.97373ZM69.0034 34.3009C70.1416 34.3009 71.2209 34.0844 72.2413 33.6515C73.2617 33.2186 74.1448 32.6282 74.8905 31.8804C75.6362 31.1326 76.2249 30.247 76.6566 29.2237C77.0883 28.2004 77.3042 27.118 77.3042 25.9766C77.3042 24.8352 77.0883 23.7528 76.6566 22.7295C76.2249 21.7062 75.6362 20.8206 74.8905 20.0728C74.1448 19.325 73.2617 18.7346 72.2413 18.3017C71.2209 17.8687 70.1416 17.6523 69.0034 17.6523C67.8652 17.6523 66.7859 17.8687 65.7655 18.3017C64.745 18.7346 63.862 19.325 63.1163 20.0728C62.3706 20.8206 61.7819 21.7062 61.3501 22.7295C60.9184 23.7528 60.7026 24.8352 60.7026 25.9766C60.7026 27.118 60.9184 28.2004 61.3501 29.2237C61.7819 30.247 62.3706 31.1326 63.1163 31.8804C63.862 32.6282 64.745 33.2186 65.7655 33.6515C66.7859 34.0844 67.8652 34.3009 69.0034 34.3009Z"
            />
            <path
              d="M97.7122 11.8075C99.7139 10.5087 102.108 9.8593 104.895 9.8593H106.131V18.1836H104.424C102.893 18.1836 101.676 18.5182 100.774 19.1873C99.9101 19.8564 99.2429 20.6632 98.7719 21.6078C98.3402 22.5131 98.0459 23.4773 97.8889 24.5007C97.7711 25.4846 97.7122 26.2915 97.7122 26.9212V42.271H88.8227V10.2726H97.7122V11.8075Z"
            />
            <path
              d="M143.071 31.0538C142.168 33.1005 141.03 34.9503 139.656 36.6034C138.322 38.2564 136.791 39.6143 135.064 40.677C133.337 41.7003 131.453 42.3891 129.413 42.7433C127.411 43.1369 125.292 43.0779 123.054 42.5662C121.053 42.1333 119.208 41.3461 117.521 40.2047C115.833 39.0633 114.381 37.6857 113.164 36.0721C111.987 34.419 111.104 32.6085 110.515 30.6406C109.926 28.6333 109.73 26.5473 109.926 24.3826C110.24 20.9584 111.221 18.1246 112.87 15.8811C114.518 13.5984 116.5 11.9059 118.816 10.8039C121.131 9.70186 123.604 9.1902 126.233 9.26892C128.863 9.30828 131.336 9.93802 133.651 11.1581C135.967 12.3389 137.949 14.0903 139.597 16.4125C141.246 18.6953 142.246 21.5291 142.6 24.9139C138.91 26.0553 135.221 27.1574 131.532 28.22C127.882 29.2434 124.193 30.306 120.464 31.4081C121.524 32.6675 122.74 33.5137 124.114 33.9467C125.527 34.3403 126.901 34.3993 128.235 34.1238C129.609 33.8089 130.884 33.1989 132.062 32.2936C133.239 31.349 134.142 30.1683 134.77 28.7514L143.071 31.0538ZM132.709 20.8403C132.278 19.6989 131.591 18.8527 130.649 18.3017C129.746 17.7507 128.726 17.4358 127.588 17.3571C126.449 17.2784 125.292 17.4161 124.114 17.7704C122.937 18.0852 121.897 18.5969 120.994 19.3053C120.091 19.9744 119.385 20.801 118.875 21.7849C118.404 22.7689 118.286 23.8512 118.521 25.032L132.709 20.8403Z"
            />
            <path
              d="M160.048 21.3717C161.892 21.8046 163.658 22.2966 165.346 22.8476C167.034 23.3986 168.505 24.0874 169.761 24.9139C171.056 25.7011 172.077 26.685 172.823 27.8658C173.608 29.0072 174 30.4241 174 32.1165C174 33.6909 173.647 35.1471 172.94 36.4853C172.234 37.7841 171.233 38.9255 169.938 39.9095C168.682 40.8541 167.191 41.6019 165.464 42.1529C163.737 42.6646 161.853 42.9204 159.812 42.9204C157.85 42.9204 156.025 42.6449 154.337 42.0939C152.649 41.5429 151.178 40.7557 149.922 39.7324C148.705 38.7091 147.724 37.5086 146.978 36.1311C146.232 34.7142 145.801 33.1398 145.683 31.4081L154.808 30.0502L154.867 31.231C154.945 32.2149 155.416 33.0021 156.28 33.5925C157.143 34.1828 158.321 34.478 159.812 34.478C161.303 34.478 162.481 34.2616 163.344 33.8286C164.247 33.3563 164.698 32.7856 164.698 32.1165C164.698 31.841 164.522 31.5852 164.169 31.349C163.855 31.0735 163.442 30.8374 162.932 30.6406C162.422 30.4438 161.853 30.2667 161.225 30.1092C160.636 29.9518 160.067 29.8141 159.518 29.696C157.477 29.1843 155.632 28.6727 153.984 28.161C152.335 27.6493 150.923 27.0196 149.745 26.2718C148.568 25.4846 147.665 24.5597 147.037 23.497C146.409 22.395 146.095 21.0174 146.095 19.3644C146.095 17.8294 146.409 16.4125 147.037 15.1137C147.704 13.8148 148.627 12.7128 149.804 11.8075C150.981 10.9023 152.394 10.1938 154.043 9.68219C155.73 9.17053 157.595 8.9147 159.635 8.9147C161.402 8.9147 163.05 9.19021 164.581 9.74123C166.151 10.2529 167.524 11.0007 168.702 11.9847C169.918 12.9293 170.899 14.0707 171.645 15.4088C172.43 16.7077 172.901 18.1443 173.058 19.7186L164.051 21.1355L163.874 20.1909C163.717 19.6005 163.462 19.1282 163.109 18.774C162.795 18.3804 162.422 18.1049 161.99 17.9475C161.598 17.7507 161.186 17.6326 160.754 17.5932C160.322 17.5145 159.949 17.4752 159.635 17.4752C159.125 17.4752 158.615 17.4948 158.105 17.5342C157.634 17.5736 157.182 17.672 156.751 17.8294C156.358 17.9475 156.025 18.1443 155.75 18.4198C155.514 18.6559 155.397 18.9708 155.397 19.3644C155.397 19.7973 155.868 20.1712 156.81 20.4861C157.791 20.801 158.87 21.0961 160.048 21.3717Z"
            />
          </svg>

          <Avatar v-else-if="$route.fullPath.includes('@bag')" initial="L" />

          <div class="justify-start items-center gap-0.5 inline-flex">
            <span
              class="text-sm font-normal leading-[14.40px] text-it-text-gray-2/60"
            >
              /
            </span>
            <Breadcrumb
              v-if="
                $route.fullPath.includes('@st') ||
                ($route.fullPath.includes('product') && currentStore)
              "
              @click="goToStore()"
              >{{ currentStore ? currentStore.name : 'No store' }}</Breadcrumb
            >
            <slot name="page-breadcrumbs" />
          </div>
        </div>
      </div>
      <slot name="center-content" />
    </section>

    <Dock />
  </div>
</template>
