<template>
  <div
    class="relative self-center w-full min-h-screen flex flex-col justify-start items-center"
  >
    <!-- <div
      class="fixed inset-x-0 mx-auto -top-[70%] opacity-[0.11] rounded-full w-[70vw] h-[70vw] overflow-hidden dark:opacity-10 xl:-top-[30%] md:w-[200vw] md:h-[200vw]"
    >
      <slot name="bg-blur" />
    </div>

    <div
      class="fixed inset-0 mx-auto w-full min-h-screen backdrop-blur-[80px] backdrop-saturate-200"
    /> -->

    <div
      class="relative self-center flex justify-between max-w-[1440px] w-full xl:px-8 lg:px-0"
    >
      <!-- Left Sidebar -->
      <LeftSidebar />

      <!-- Center Content -->
      <section
        class="flex flex-col items-center grow px-6 pt-8 pb-56 gap-4 md:w-screen lg:pt-6"
      >
        <slot name="center-content" />
      </section>

      <!-- Right Sidebar -->
      <section
        class="sticky top-0 pt-8 pb-20 flex flex-col justify-start items-start max-w-[233px] w-full h-screen gap-1 xl:hidden"
      >
        <slot name="right-sidebar" />
      </section>

      <Dock />
    </div>
  </div>
</template>
