<template>
  <div class="relative self-center flex justify-between max-w-[1440px] w-full">
    <!-- Left Sidebar -->
    <section
      class="bg-orange-300 sticky top-0 pt-8 pb-20 overflow-y-auto overflow-x-clip scrollbar-hide flex flex-col justify-start items-start max-w-[233px] w-full h-screen gap-1 i-transition lg:hidden"
    ></section>

    <!-- Center Content -->
    <section
      class="bg-lime-300 flex flex-col grow px-6 pt-8 pb-56 gap-20"
    ></section>

    <!-- Right Sidebar -->
    <section
      class="sticky top-0 pt-8 pb-20 overflow-y-auto overflow-x-clip flex flex-col justify-start items-start max-w-[233px] w-full h-screen gap-1 xl:hidden"
    ></section>

    <Dock />
  </div>
</template>
