<script setup lang="ts">
import type { ProductWithPriceStoreMenu, Store } from '~/types/stores';

const route = useRoute();

// const sStore = useStoreStore();

const { currentStore } = storeToRefs(useStoreStore());
const { currentProduct } = storeToRefs(useProductStore());

const isGiftModalOpen = ref<boolean>(false);
const pageError = ref();

if (!route.query.ref) {
  throw createError({
    statusCode: 400,
    statusMessage: 'PRODUCT_BAD_REQUEST',
  });
}

const {
  data: product,
  error: productError,
  pending: productLoading,
} = await useLazyFetch<ProductWithPriceStoreMenu>(`/api/store/product`, {
  method: 'GET',
  query: {
    ref: route.query.ref,
  },
});

if (productError.value) {
  // TODO: log & show the error
  // console.error(storeError);
  currentProduct.value = null;
  // throw createError({
  //   fatal: false,
  //   statusCode: 404,
  //   statusMessage: 'MENUS_NOT_FOUND',
  // });
}

onErrorCaptured((err) => {
  pageError.value = err;
});

watchEffect(() => {
  console.log(product.value);

  if (product.value) {
    currentStore.value = product.value
      .stores_products_store_at_addressTostores as Store;

    currentProduct.value = product.value;
  }
});
</script>

<template>
  <NuxtLayout name="st-base-l">
    <template #page-breadcrumbs>
      <Breadcrumb v-if="productLoading" :is-current="true">...</Breadcrumb>
      <Breadcrumb v-else :is-current="true" :is-failed="!product">{{
        product ? product.name : 'No product'
      }}</Breadcrumb>
    </template>

    <template #center-content>
      <div
        v-if="productError || pageError"
        class="w-full flex justify-center gap-11 xl:gap-8 lg:gap-6 md:gap-4 sm:flex-col sm:justify-start sm:items-center"
      >
        <LocalError
          :status-code="productError?.statusCode"
          :title="
            productError?.statusCode === 404
              ? 'Oops! Product doesn\'t exist'
              : productError?.message
          "
          message="Consectetur ad est officia occaecat ad cillum occaecat officia exaute quis."
        />
      </div>

      <div
        v-else-if="productLoading"
        class="w-full flex justify-between gap-11 xl:gap-8 lg:gap-6 md:gap-4 sm:flex-col sm:justify-start sm:items-center"
      >
        <LazySkeleton class="p-cover bg-none" rounded="rounded-[30px]" />

        <div
          class="w-[40%] grow mt-6 flex-col justify-start items-start gap-6 inline-flex lg:mr-4 sm:m-0 sm:w-[90vw]"
        >
          <div class="w-full justify-start items-center gap-4 inline-flex">
            <Tag :is-loading="true" />
            <LazySkeleton class="w-16 h-6" />
          </div>

          <div
            class="w-full flex-col justify-start items-start gap-4 inline-flex"
          >
            <LazySkeleton class="w-1/3 h-6" />
            <div
              class="w-full flex-col justify-start items-start gap-2 inline-flex"
            >
              <LazySkeleton class="w-full h-4" />
              <LazySkeleton class="w-2/3 h-4" />
            </div>

            <!-- <div
              class="w-full flex-wrap justify-start items-start gap-2 inline-flex"
            >
              <Button :is-loading="true" />
              <Button :is-loading="true" />
            </div> -->
          </div>

          <!-- <div
            class="w-full flex-wrap justify-start items-center gap-4 inline-flex"
          >
            <ProductPrice :is-loading="true" />
            <Button :is-loading="true" class="w-32" />
            <Button :is-loading="true" class="w-16" />
            <Button :is-loading="true" class="w-16" />
          </div>

          <LazySkeleton rounded="rounded-lg" class="w-full h-14" /> -->

          <RatingReviewWidget :is-loading="true" class="w-[86%]" />

          <div
            class="w-full flex-wrap justify-start items-start gap-1.5 inline-flex"
          >
            <Tag :is-loading="true" />
            <Tag :is-loading="true" />
            <Tag :is-loading="true" />
          </div>
        </div>
      </div>

      <div
        v-else
        class="w-full h-[8000px] flex justify-between gap-11 xl:gap-8 lg:gap-6 md:gap-4 sm:flex-col sm:justify-start sm:items-center"
      >
        <div
          :class="{
            'p-cover': true,
            landscape: product?.thumb_type === 'landscape',
            square: product?.thumb_type === 'square',
          }"
        >
          <NuxtImg
            v-if="product?.p_thumb_url"
            format="webp"
            quality="60"
            loading="lazy"
            placeholder
            :src="product?.p_thumb_url"
            class="w-full h-full"
          />

          <div
            v-else
            class="w-full h-full items-center justify-center inline-flex"
          >
            No cover
          </div>
        </div>

        <div
          class="w-[40%] grow mt-6 flex-col justify-start items-start gap-6 inline-flex lg:mr-4 sm:m-0 sm:w-[90vw]"
        >
          <div class="w-full justify-start items-center gap-4 inline-flex">
            <Tag :show-dot="true">{{
              product?.type
                ? product?.type[0].toLocaleUpperCase() + product?.type.slice(1)
                : 'Good'
            }}</Tag>
            <div class="text-green-500 text-sm font-medium">
              {{ product?.status?.split('_').join(' ') }}
            </div>
          </div>

          <div
            class="w-full flex-col justify-start items-start gap-4 inline-flex"
          >
            <h4
              class="w-full text-it-monochrome-bw text-[1.75rem] font-extrabold leading-[1.4] sm:text-[1.45rem]"
            >
              {{ product?.name }}
            </h4>

            <p
              class="w-full text-it-text-gray-1 text-sm font-normal leading-[1.8]"
            >
              {{ product?.description }}
            </p>

            <div
              class="w-full flex-wrap justify-start items-start gap-2 inline-flex"
            >
              <Button
                variant="gray"
                icon-left="iconoir-delivery-truck"
                class="bg-green-700/[0.08] text-green-600"
              />
              <Button
                variant="gray"
                icon-left="iconoir-piggy-bank"
                class="bg-amber-700/[0.08] text-amber-500"
                >Disc 5%</Button
              >
            </div>
          </div>

          <div
            class="w-full p-2 border-l border-ink-blue-1 justify-start items-start gap-2 inline-flex"
          >
            <span class="text-ink-blue-1 text-sm font-medium leading-[1.4]">
              To start, 50% - 70% minimum payment required
            </span>
          </div>

          <div
            class="w-full flex-wrap justify-start items-center gap-4 inline-flex"
          >
            <ProductPrice
              :currency="
                product?.price_products_priceToprice
                  .currencies_prices_currencyTocurrencies.symbol
              "
              :initial-price="0"
              :current-price="product?.price_products_priceToprice.price"
              price-unit=""
              :is-bigger="true"
            />

            <Button icon-right="bb" size="md"
              >Add to bag
              <template #icon-right>
                <svg
                  width="18"
                  height="18"
                  viewBox="0 0 18 18"
                  fill="none"
                  xmlns="http://www.w3.org/2000/svg"
                  class="fill-inherit"
                >
                  <path
                    fill-rule="evenodd"
                    clip-rule="evenodd"
                    d="M5.57813 4.81568C5.58262 2.93909 7.10694 1.42119 8.9842 1.42478C10.8605 1.42927 12.3786 2.95393 12.3746 4.83018C12.3746 4.83049 12.3746 4.83081 12.3746 4.83113L11.8121 4.82978L12.3746 4.83018V7.10378C12.3746 7.41444 12.1228 7.66628 11.8121 7.66628C11.5015 7.66628 11.2496 7.41444 11.2496 7.10378V4.82978L11.2496 4.82843C11.2526 3.5732 10.2373 2.55293 8.98205 2.54978C7.72615 2.54752 6.70647 3.56272 6.70312 4.81774V7.10378C6.70312 7.41444 6.45129 7.66628 6.14062 7.66628C5.82996 7.66628 5.57812 7.41444 5.57812 7.10378L5.57813 4.81568Z"
                  />
                  <path
                    fill-rule="evenodd"
                    clip-rule="evenodd"
                    d="M4.03885 6.96252C3.18611 7.62994 2.7749 8.7332 2.7749 10.6556C2.7749 12.5776 3.18609 13.6807 4.03882 14.3481C4.93435 15.0489 6.45248 15.3866 8.97665 15.3866C11.5008 15.3866 13.019 15.0489 13.9145 14.3481C14.7672 13.6807 15.1784 12.5776 15.1784 10.6556C15.1784 8.7332 14.7672 7.62994 13.9145 6.96252C13.0189 6.26161 11.5008 5.92387 8.97665 5.92387C6.45247 5.92387 4.93437 6.26161 4.03885 6.96252ZM3.34546 6.07661C4.56381 5.12302 6.42783 4.79887 8.97665 4.79887C11.5255 4.79887 13.3895 5.12302 14.6078 6.07661C15.869 7.06368 16.3034 8.60755 16.3034 10.6556C16.3034 12.7034 15.869 14.247 14.6078 15.234C13.3895 16.1875 11.5255 16.5116 8.97665 16.5116C6.42783 16.5116 4.56383 16.1875 3.34548 15.234C2.08434 14.247 1.6499 12.7034 1.6499 10.6556C1.6499 8.60755 2.08432 7.06368 3.34546 6.07661Z"
                  />
                </svg>
              </template>
            </Button>

            <Button variant="tertiary" size="md">Bid</Button>
            <Button
              variant="tertiary"
              size="md"
              icon-right="iconoir-gift"
              @click="isGiftModalOpen = !isGiftModalOpen"
              >Gift</Button
            >

            <Modal v-model="isGiftModalOpen" title="Gift product">
              Gift
              <template #actions>
                <Button
                  variant="tertiary"
                  @click="isGiftModalOpen = !isGiftModalOpen"
                  >Close</Button
                >

                <Button icon-right="bb"
                  >Add to bag
                  <template #icon-right>
                    <svg
                      width="18"
                      height="18"
                      viewBox="0 0 18 18"
                      fill="none"
                      xmlns="http://www.w3.org/2000/svg"
                      class="fill-inherit"
                    >
                      <path
                        fill-rule="evenodd"
                        clip-rule="evenodd"
                        d="M5.57813 4.81568C5.58262 2.93909 7.10694 1.42119 8.9842 1.42478C10.8605 1.42927 12.3786 2.95393 12.3746 4.83018C12.3746 4.83049 12.3746 4.83081 12.3746 4.83113L11.8121 4.82978L12.3746 4.83018V7.10378C12.3746 7.41444 12.1228 7.66628 11.8121 7.66628C11.5015 7.66628 11.2496 7.41444 11.2496 7.10378V4.82978L11.2496 4.82843C11.2526 3.5732 10.2373 2.55293 8.98205 2.54978C7.72615 2.54752 6.70647 3.56272 6.70312 4.81774V7.10378C6.70312 7.41444 6.45129 7.66628 6.14062 7.66628C5.82996 7.66628 5.57812 7.41444 5.57812 7.10378L5.57813 4.81568Z"
                      />
                      <path
                        fill-rule="evenodd"
                        clip-rule="evenodd"
                        d="M4.03885 6.96252C3.18611 7.62994 2.7749 8.7332 2.7749 10.6556C2.7749 12.5776 3.18609 13.6807 4.03882 14.3481C4.93435 15.0489 6.45248 15.3866 8.97665 15.3866C11.5008 15.3866 13.019 15.0489 13.9145 14.3481C14.7672 13.6807 15.1784 12.5776 15.1784 10.6556C15.1784 8.7332 14.7672 7.62994 13.9145 6.96252C13.0189 6.26161 11.5008 5.92387 8.97665 5.92387C6.45247 5.92387 4.93437 6.26161 4.03885 6.96252ZM3.34546 6.07661C4.56381 5.12302 6.42783 4.79887 8.97665 4.79887C11.5255 4.79887 13.3895 5.12302 14.6078 6.07661C15.869 7.06368 16.3034 8.60755 16.3034 10.6556C16.3034 12.7034 15.869 14.247 14.6078 15.234C13.3895 16.1875 11.5255 16.5116 8.97665 16.5116C6.42783 16.5116 4.56383 16.1875 3.34548 15.234C2.08434 14.247 1.6499 12.7034 1.6499 10.6556C1.6499 8.60755 2.08432 7.06368 3.34546 6.07661Z"
                      />
                    </svg>
                  </template>
                </Button> </template
            ></Modal>
          </div>

          <div class="w-full justify-start items-center gap-3 inline-flex">
            <span v-if="false" class="text-it-text-gray-1 text-sm font-medium">
              Quantity
            </span>

            <div
              class="w-full i-mode-transition duration-200 py-2 px-3 bg-[#F2F1F4] bg-opacity-80 rounded-[17px] border-it-border-3 justify-center items-center gap-3 inline-flex dark:bg-opacity-[0.05]"
            >
              <Button
                variant="plain"
                icon-left="iconoir-minus"
                class="grow h-10"
              />
              <FormKit
                type="number"
                label="Quantity"
                name="Quantity"
                value="01"
                step="1"
                outer-class="w-[40%]"
                inner-class="w-full h-10 px-4 py-1.5 border-none bg-ink-gray-3/[0.15] rounded-lg flex-col justify-center items-center gap-2.5 inline-flex dark:bg-ink-gray-3/10"
                input-class="text-center justify-center items-center flex"
              />
              <Button
                variant="plain"
                icon-left="iconoir-plus"
                class="grow h-10"
              />
            </div>
          </div>

          <RatingReviewWidget class="w-[86%]" />

          <div
            class="w-full flex-wrap justify-start items-start gap-1.5 inline-flex"
          >
            <Tag v-for="tag in product?.tags" :key="tag.tag?.toString()">{{
              tag.tag
            }}</Tag>
          </div>
        </div>
      </div>
    </template>
  </NuxtLayout>
</template>

<style scoped lang="scss">
.p-cover {
  @apply w-[639px] h-[773px] rounded-[30px] overflow-hidden bg-ink-gray-1/20 mt-6 sticky top-[70px];

  &.square {
    @apply h-[649px];
  }

  &.landscape {
    @apply h-[389px];
  }

  @screen xl {
    @apply w-[50%] h-[50vw];

    &.square {
      @apply h-[40vw];
    }

    &.landscape {
      @apply h-[25vw];
    }
  }

  @screen lg {
    @apply w-[50vw] h-[66vw] ml-4 rounded-[24px];

    &.square {
      @apply h-[50vw];
    }

    &.landscape {
      @apply h-[31vw];
    }
  }

  @screen sm {
    @apply relative w-[90vw] h-[120vw] mt-4 mx-0 top-0;

    &.square {
      @apply h-[90vw];
    }

    &.landscape {
      @apply h-[58vw];
    }
  }
}
</style>
