<script setup lang="ts">
import type { StoreMenu } from '~/types/stores';

const route = useRoute();
const router = useRouter();
const pageStore = usePageStore();

const { currentlyViewedMenu } = storeToRefs(useStoreStore());

const pageError = ref();
const pageBreadcrumbs = ref<Object[]>([]);

const {
  data: menu,
  error: menuError,
  pending: menuLoading,
} = await useLazyFetch<StoreMenu>(
  `/api/store/@st/${route.params.storeAtAddress}/menu/${route.params.menuSlug}`,
  {
    method: 'GET',
  }
);

if (menuError) {
  // TODO: log & show the error
  currentlyViewedMenu.value = null;
}

onErrorCaptured((err) => {
  pageError.value = err;
});

watchEffect(() => {
  if (currentlyViewedMenu.value?.slug !== menu.value?.slug)
    currentlyViewedMenu.value = menu.value;

  pageBreadcrumbs.value = [
    {
      label: 'Menu',
    },
    {
      label: menu ? menu.value?.name : 'No menu',
    },
  ];

  pageStore.setLoading(menuLoading.value);

  console.log(menu.value);
});
</script>

<template>
  <NuxtLayout name="st-base-l">
    <template #page-breadcrumbs>
      <Breadcrumb>Menu</Breadcrumb>
      <Breadcrumb v-if="menuLoading" :is-current="true">...</Breadcrumb>
      <Breadcrumb v-else :is-current="true" :is-failed="!menu">{{
        menu ? menu.name : 'No menu'
      }}</Breadcrumb>
    </template>

    <template v-if="menuLoading" #center-content>
      <div
        class="w-full mb-4 sticky top-0 z-[99999988] py-2 bg-it-primary-bg-fill-a90 border-b border-it-border-1 backdrop-blur-[50px] backdrop-saturate-200 justify-start items-center gap-8 inline-flex i-mode-transition overflow-x-scroll no-scrollbar lg:px-4"
      >
        <div class="justify-start items-center gap-2 inline-flex">
          <LazySkeleton class="w-[130px] h-6" />
          <LazyTag :is-loading="true" />
        </div>

        <div class="justify-start items-start gap-2 inline-flex">
          <LazyButton :is-loading="true" class="w-16" />
          <LazyButton :is-loading="true" class="w-16" />
          <LazyButton :is-loading="true" class="w-16" />
          <LazyButton :is-loading="true" class="w-16" />
        </div>
      </div>

      <div class="w-full flex justify-between gap-12 md:justify-center">
        <LazyProductGroup :is-loading="true" :show-header="false" />
      </div>
    </template>

    <template v-else #center-content>
      <LazyLocalError
        v-if="menuError || pageError"
        :status-code="menuError?.statusCode"
        title="Oops! That store menu doesn't exist"
        message="Consectetur ad est officia occaecat ad cillum occaecat officia exaute quis."
        btn-label="Head back to store"
        :handle-error="
          () => {
            router.push(`/@st/${route.params.storeAtAddress}`);
          }
        "
      />

      <div
        v-if="menu"
        class="w-full mb-4 sticky top-0 z-[99999988] py-2 bg-it-primary-bg-fill-a90 border-b border-it-border-1 backdrop-blur-[50px] backdrop-saturate-200 justify-start items-center gap-8 inline-flex i-mode-transition overflow-x-scroll no-scrollbar lg:px-4"
      >
        <div class="justify-start items-center gap-2 inline-flex">
          <h4
            class="text-it-monochrome-bw text-[1.25rem] font-bold whitespace-nowrap"
          >
            {{ menu?.name }}
          </h4>

          <LazyTag>{{ menu?.num_of_products }}</LazyTag>
        </div>

        <div class="justify-start items-start gap-2 inline-flex">
          <LazyButton variant="gray">All</LazyButton>
          <LazyButton variant="plain">In stock</LazyButton>
          <LazyButton variant="plain">Available services</LazyButton>
          <LazyButton variant="plain">Discounted</LazyButton>
        </div>
      </div>

      <div
        v-if="menu"
        class="w-full flex justify-between gap-12 md:justify-center"
      >
        <ProductGroup
          :show-header="false"
          :store-at-address="route.params.storeAtAddress.toString()"
          :menu="menu"
        />

        <div
          class="bg-ink-gray-2/10 grow h-[200px] rounded-xl sticky top-[80px] xl:hidden"
        ></div>
      </div>
    </template>
  </NuxtLayout>
</template>
